<footer class="site-footer">

  <div class="wrap">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> 

    <div class="">
      Contact info
      <ul>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>Biological Sciences 105 <br/>
          University of Maryland Baltimore County<br/>
          1000 Hilltop Circle Baltimore MD, 21250</li>
        <li>
          <a href="https://github.com/sefakilic"><img alt="github"
                                                      class="github-icon"
                                                      src="/images/GitHub-Mark-32px.png"></a>
          <a href="https://twitter.com/sefatron"><img alt="twitter"
          class="twitter-icon" src="/images/bird_blue_32.png"></a><br />
        </li>
      </ul>
    </div>

    -->

  </div>

</footer>
